/*
 * General panel settings
 */

LXQtPanel #BackgroundWidget {
    background:rgba(38,38,38);
}

QToolTip {
    border: 1px solid rgba(38,38,38);
    background:rgba(38,38,38);
    padding: 2px;
    margin: 1px;
}

/*
 * General plugins settings
 */

Plugin,
LXQtPanelPlugin {
    padding: 2px;
    spacing: 20px;
    qproperty-moveMarkerColor: rgb(140,0,3);
}

Plugin  > QWidget,
Plugin  > QWidget > QWidget {
    color: #FFFFFF;
}

Plugin > QToolButton,
Plugin > QWidget > QToolButton,
Plugin > QWidget > QToolButton > QWidget > QToolButton,
LXQtPanelPlugin > QToolButton {
    margin: 0;
    border: 1px solid transparent;
    qproperty-iconSize: 24px;
    color: #FFFFFF;
}

Plugin > QToolButton:hover,
Plugin > QWidget > QToolButton:hover,
LXQtPanelPlugin > QToolButton:hover {
    border: 1px solid rgb(38,38,38);
    background: rgb(61,61,62);
}

Plugin > QToolButton:pressed,
Plugin > QWidget > QToolButton:pressed,
LXQtPanelPlugin > QToolButton:pressed {
    padding: 4px;
}

/*
 * Volume plugin
 */

VolumePopup {
    background: rgb(56,56,56);
    border: 1px solid rgb(38,38,38);
    border-radius: 2px;
    padding: 5px;
}

VolumePopup  > QPushButton {
    color: #FFFFFF;
    background: rgb(61,61,62);
    padding: 2px 10px;
    margin: 4px;
    border-radius: 2px;
    qproperty-iconSize: 24px;
}

VolumePopup  > QPushButton:hover {
    border: 0.5px solid rgb(160,160,160);
    border-radius: 2px;
    background: rgb(40,40,40);
}

VolumePopup  > QSlider::groove:vertical {
    background: #282828;
    width: 6px;
    border-radius: 6px;
}

VolumePopup  > QSlider::handle:vertical {
    height: 10px;
    width: 10px;
    background: #535353;
    border-radius: 6px;
    border: 1px solid rgba(38,38,38);
    margin: 0 -4px; /* expand outside the groove */
 }

VolumePopup  > QSlider::add-page:vertical {
    background: rgb(140,0,3);
    border-radius: 3px;

 }

VolumePopup  > QSlider::sub-page:vertical {
     background: rgb(61,61,62);
     border-radius: 3px;
 }

/*
 * Desktopswitch
 */

#DesktopSwitch QToolButton {
    margin: 2px;
}

#DesktopSwitch QToolButton:on {
    background: rgb(83,83,83);
    border: 1px solid rgba(38,38,38);
    font: bold;
}

#DesktopSwitch QToolButton:hover {
    border: 1px solid rgba(160,160,160);
    background: rgb(61,61,62);
}

#DesktopSwitch QToolButton:pressed {
    padding: 4px;
}

#DesktopSwitch QToolButton[urgent="true"] {
    color: #FFFFFF;
    background: #8C0003;
}

/*
 * QuickLaunch
 */
#QuickLaunchPlaceHolder {
    color: #FFFFFF;
}

#QuickLaunch QToolButton{
    border: 0px;
    margin: 1px;
    padding: 2px;
}

#QuickLaunch QToolButton:hover{
    border: 1px rgba(160,160,160);
    background: rgb(61,61,62);
}

#QuickLaunch QToolButton:pressed {
    padding: 4px;
}


/*
 * TaskBar
 */
#TaskBar QToolButton{
    margin: 2px;
    padding: 2px;
}

#TaskBar QToolButton:on{
    border-bottom: 2px solid rgb(255,202,0);
    background: rgba(61,61,62);
}

#TaskBar QToolButton:hover{
   border-bottom: 2px solid rgb(255,202,0);
   background: rgb(61,61,62);
}

#TaskBar QToolButton:pressed {
    padding: 4px;
}

#TaskBar QToolButton[urgent="true"] {
    color: #FFCA00;
    background: #8C0003;
}

#TaskBar LXQtGroupPopup {
    background:rgba(56,56,56,0);
    border: 1px solid rgba(38,38,38,0);
}

#TaskBar LXQtGroupPopup QToolButton{
    margin: 2px;
}

/*
 * Calendar Widget
 */

QCalendarWidget #qt_calendar_navigationbar,
QCalendarWidget #qt_calendar_navigationbar * {
    background-color:rgb(61,61,62);
    color: #FFFFFF;
}
QCalendarWidget #qt_calendar_monthbutton {
    padding:2px;
    margin: 2px;
}
/*QCalendarWidget #qt_calendar_monthbutton:hover,*/
QCalendarWidget #qt_calendar_prevmouth:hover,
QCalendarWidget #qt_calendar_nextmouth:hover {
   border: 1px solid rgba(38,38,38);
   background: rgb(160,160,160);
}

QCalendarWidget #qt_calendar_monthbutton::menu-indicator {
   image: none;
}

QCalendarWidget QTableView {
    background-color: rgb(61,61,62);
    selection-background-color:#8C0003;
}
QCalendarWidget #qt_calendar_nextmonth {
    max-height:20px;
    min-height:20px;
    qproperty-icon: url(calendar-popup/arrow-right.svg);
}
QCalendarWidget #qt_calendar_prevmonth {
    max-height:20px;
    min-height:20px;
    qproperty-icon: url(calendar-popup/arrow-left.svg);
}

QCalendarWidget QMenu {
    padding: 10px;
    background-color: rgb(61,61,62);
}

QCalendarWidget QMenu::item:selected {
    color: #FFCA00;
    background: #8C0003;
}

QCalendarWidget QWidget {
    alternate-background-color: rgb(68,68,68);
}

QCalendarWidget QAbstractItemView:enabled {
    color: rgb(255, 253, 249);
}

QCalendarWidget QAbstractItemView:disabled {
    color: rgb(141, 151, 162);
}

QCalendarWidget {
    border: 1px solid rgb(38,38,38);
}

/*
 * Clock
 */
#Clock:hover {
   border: 1px solid rgba(38,38,38);
   background: rgb(61,61,62);
}

#Clock > QWidget{
    margin: 2px;
}
#Clock #TimeLabel{
    color: #FFFFFF;
    margin-right: 2px;
    margin-left: 2px;
}
#Clock #DateLabel{
    color: #FFFFFF;
    margin-right: 2px;
    margin-left: 2px;
}


/*
 * Tray
 */

#Tray {
    min-width: 6px;
    padding-left: 2px;
    padding-right: 2px;
}

TrayIcon {
    margin: 2px;
}


/*
 * Main menu
 */

/* launcher */
#MainMenu {
    margin: 0;
    padding: 0;
    border: 0px solid rgba(0, 0, 0, 30%);
    background: rgba(0, 0, 0, 0%);
    qproperty-icon: url(mainmenu.png);
    color: #FFFFFF;
}
#MainMenu:hover {
    border: 0.5px solid rgb(68,68,68);
    background: rgba(0,0,0,90%);
}

#MainMenu:pressed {
    padding: 4px;
}

/* the menu */
#MainMenu  QMenu {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(68,68,68);
    background-color: rgb(47,47,47);
}
#MainMenu  QMenu::icon {
    background-color: transparent;
}

#MainMenu QMenu::right-arrow {
    image: url(arrow-right.svg);
}

#MainMenu QMenu::item {
    color: #FFFFFF;
}

/* This is the menu selected colors  */
#MainMenu QMenu::item:selected {
    color: #FFCA00;
    background: #A21215;
}

/*search box*/
#MainMenu QLineEdit {
    background: rgb(38,38,38);
    padding: 4px;
    margin-button: 2px;
    margin-right: 2px;
    margin-left: 2px;
}


#MainMenu ActionView {
    background: rgb(47,47,47);
    color: #FFFFFF;
}

#MainMenu ActionView::item {
    border: 0px;
    padding: 1px 0;
}

#MainMenu ActionView::item:selected, ActionView::item:hover {
    border: 1px solid rgba(38,38,38);
    background: rgb(68,68,68);
    color: #FFFFFF;
}

/*
 * Mount plugin
 */
#LXQtMountPlugin {
    margin: 2px;
}

#LXQtMountPopup {
    background: rgb(56,56,56);
    border: 1px solid rgb(38,38,38);
    border-radius: 2px;
    padding: 5px;
}

#LXQtMountPopup > MenuDiskItem {
    border-radius: 2px;
}

#LXQtMountPopup > MenuDiskItem:hover {
    border: 1px solid rgba(38,38,38);
    color: #FFCA00;
    background: #A21215;
}

#LXQtMountPopup #EjectButton,
#LXQtMountPopup #DiskButton {
    qproperty-iconSize: 22px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    padding: 4px;
}

#LXQtMountPopup #NoDiskLabel {
    margin: 6px;
    color: #FFFFFF;
}


/*
 * Screensaver
 */

#PanelScreenSaver {
    margin: 2px;
}

#PanelScreenSaver > QToolButton:hover {
    margin: 0;
    border: 2px solid transparent;
}

#PanelScreenSaver > QToolButton:pressed {
    margin: 2px;
    border: 2px solid transparent;
}


/*
 * ShowDesktop
 */
#ShowDesktop > QToolButton:hover {
    border: 1px solid rgba(38,38,38);
    background: rgb(56,56,56);
}

/*
 * KbIndicator
 */
#KbIndicator > QLabel {
    padding: 3px;
    border: 0px;
}
#KbIndicator > QLabel:disabled {
    color: #FFFFFF;
}

#KbIndicator > QLabel:enabled {
    background: #383838;
}


/*
 * SysStat
 */

#SysStat {
    padding: 2px 2px 2px 2px;
    margin: 2px;
}

#SysStat > QLabel {
    font-size: 6pt;
}

#SysStat_Graph {
    qproperty-gridColor: #272C35;
    qproperty-titleColor: #FFFFFF;
    qproperty-cpuSystemColor: #46A1B1;
    qproperty-cpuUserColor: #689AC3;
    qproperty-cpuNiceColor: #529EBD;
    qproperty-cpuOtherColor: #4EA39A;
    qproperty-frequencyColor: #46A2AA;
    qproperty-memAppsColor: #46A1B1;
    qproperty-memBuffersColor: #689AC3;
    qproperty-memCachedColor: #4EA39A;
    qproperty-swapUsedColor: #529EBD;
    qproperty-netReceivedColor: #46A1B1;
    qproperty-netTransmittedColor: #4EA39A;
}

/*
 * WorldClock
 */
#WorldClock:hover {
   border: 1px solid rgba(38,38,38);
    background: rgb(56,56,56);
}

#WorldClockContent {
    margin-right: 2px;
    margin-left: 2px;
    padding: 2px;
    color: #FFFFFF;
}

/*
 * CPU monitor
 */

#LXQtCpuLoad {
    qproperty-fontColor: #FFFFFF;
}

/*
 * Spacer
 */

#Spacer {
    background-position: center center;
}

#Spacer[type="lined"] {
    background-image: url(/spacer-plugin/spacer-line.svg);
}

#Spacer[type="dotted"] {
    background-image: url(/spacer-plugin/spacer-dots.svg);
 }

#Spacer[orientation="horizontal"] {
    background-repeat: repeat-y;
    margin-top: 2px;
    margin-bottom: 2px;
}

#Spacer[orientation="vertical"] {
    background-repeat: repeat-x;
    margin-right: 2px;
    margin-left: 2px;
}
